body {
    background-color: aquamarine;
}

.color-box {
    width: 200px;
    height: 30px;
    margin-bottom: 10px;
}

#kolory-predefiniowane {
    background-color: red;
}

#kolory-heksadecymalne {
    background-color: #fe3499;
}

#kolory-heksadecymalne-zapis-skrocony {
    border-bottom-color: #f39;
    background-color: blue;
}

#kolory-rgb {
    background-color: rgb(230, 22, 91);
}

#kolory-rgba {
    background-color: rgba(30, 22, 90, 0.5);
}