html {
    font-size: 20px;
    font-family: arial;
}

#container {
    font-size: 30px;
}

#container > div {
    background-color: red;
    margin-bottom: 10px;
}

#pixele {
    width: 400px;
}

#em {
    width: 20em;
}

#ex {
    width: 20ex;
}

#rem {
    width: 20rem;
}

#procenty {
    width: 40%;
}

#vw {
    width: 60vw;
}

#vh {
    width: 60vh;
}

#vmin {
    width: 60vmin;
}

#vmax {
    width: 60vmax;
    font-size: 3vh;
}

#inch {
    width: 4in;
}

#cm {
    width: 20cm;
}

#mm {
    width: 200mm;
}

#pt {
    width: 120pt;
}


